    #menuBG {
        width:600px;
        height:790px;
        margin:10px auto;
        padding-left: 40px;
        padding-top: 10px;
        background-color: burlywood;
        }

        body {
            background-color: oldlace;
        }

     #frmMenu {
        width:600px;
        height:200px;
        } 

    h1 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: maroon;
    }

    h3 {
        font-family:cursive;
        color:navy;
    }

    div {
        font-family: cursive;
        color: purple;
    }

 #totalPrice {
        width:200px;
        height:190px;
        margin:20 auto;
        float:right;
        } 

     .left {
        width:200px;
        height:250px;
        float:left;
        } 

    .right {
        width:200px;
        height:250px;
        float:right;
        }
    .center {
        width: 200px;
        height: 250px;
        float: left;
    }

    #showText {
        width:200px;
        height:190px;
        margin:0px auto;
        float:left;
        }
            
    #cart {
        top:0;margin:0px auto;
        width:400px;
        height:200px;
        }

    #btnOrder {
        margin:10px Opx Opx 100px;
        width:100px;
        height:40px;
        display: block;
        margin: 25px auto;
        }
